<div class="login-wrap">
    <div class="app">

        <div class="bg"></div>

        <form>
            <div class="inputs">
                <input #userName="ngModel" name="userName" [(ngModel)]="loginUser.username" type="text"  placeholder="username or email">
                <input #password="ngModel" name="password" [(ngModel)]="loginUser.password" type="password"  placeholder="password">

                <p class="light"><a href="#">Forgot password?</a></p>
            </div>
        </form>

        <footer>
            <button (click)="login()">Sign in</button>
        </footer>
    </div>
</div>