
<div class="dashboard-wrap">
    <div class="dashboard-header">
        <div class="title">
            <h2>Home alarm service </h2>
        </div>

        <div class="details-wrap">
            <!-- <div class="notifications-wrap">
                <i class="fa-notification-bell"></i>
            </div> -->

            <div class="user-profile--wrap shadow-anim">
                <div class="user-name">{{user.name}}</div>
                <i class="user-logo fa-user-profile"></i>

            </div>

            <div class="logout-wrap shadow-anim" (click)="logout()">
                <i class="fa-exit"></i>
            </div>
        </div>
    </div>
</div>
